.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 0 20px;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.install-message {
    text-align: right;
    max-width: 220px;
}

.install-button{
    font-size: 10px;
    padding: 5px;
}